
    <div ng-controller="modals" class="modal-demo">


    <button type="button" class="btn btn-default" ng-click="open('lg' ,'../menu/vista2')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm' ,'../menu/vista2')">Small modal</button>
    <div class="row">
        <div class="col-lg-4">


            <md-card md-theme="default" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-text">Card with image</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" style="background-color:#999999;"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>

    