

<div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

        <a href='@Url.Action("Index", "inicio")' class="navbar-brand" >
            <div class="row">
                <div class="col-xs-2">
                   
                </div>
                <div class="col-xs-10">
                    <span class="label label-info"> Inicio</span>
                </div>
            </div>
            </a>
 

</div>
<div class="navbar-collapse collapse">
  


    
   
      
          

            <ul class="nav navbar-nav navbar-right">
@if (Session.Keys.Count > 0)
{
         

                <li>@Html.ActionLink("Cerrar Session", "Logout", "login")</li>
}
else
{
                <li><a ng-click="open('lg','../login/modal_index')">Iniciar Sesion</a></li>
                <li>@Html.ActionLink("Iniciar Sesion", "index", "login")</li>
}
            </ul>
        
  
 
    
</div>