<div id="s_cover3" class="pt-5 text-white bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-left text-center align-self-center my-5">
                <h1 class="display-1">Color intro</h1>
                <p class="lead">A background with color. One is enough.</p>
                <div class="row mt-6">
                  
                    <div class="col-md-6 offset-md-35" >
                        <a href="#">
                            <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/sections/assets/download_ios.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/sections/assets/iphone_cover.png">
            </div>
        </div>
    </div>
</div>
<div id="s_features6" class="py-5 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="mb-4">Benefits and features</h1>
                <p class="lead">
                sadasdasdasds
                </p>
                <div class="row text-left mt-5">
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars"></i></div>
                            <div class="align-self-center col-10">
                                <h5 class=""><b>For him</b></h5>
                            </div>
                        </div>
                        <p>Based on fluid design principles. Works with screen resolution. &nbsp;In-app chat panel 24/7 active. The support you need, right there.</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-venus"></i></div>
                            <div class="align-self-center col-10">
                                <h5><b>For her</b></h5>
                            </div>
                        </div>
                        <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels with the switcher</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-neuter"></i></div>
                            <div class="align-self-center col-10">
                                <h5><b>For its</b></h5>
                            </div>
                        </div>
                        <p>You are working with plain HTML and SASS files on your computer, so extending and integrating Javascript is a breeze.</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-stroke"></i></div>
                            <div class="align-self-center col-10">
                                <h5><b>For anyone</b></h5>
                            </div>
                        </div>
                        <p>Based on fluid design principles. Works with screen resolution.&nbsp;Choose settings depending on the criteria you value the most.</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-double"></i></div>
                            <div class="align-self-center col-10">
                                <h5><b>Even couples</b></h5>
                            </div>
                        </div>
                        <p>In-app chat panel 24/7 active. The support you need, right there. Pingendo enhance the battery duration and the quality of your life.&nbsp;</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-genderless"></i></div>
                            <div class="align-self-center col-10">
                                <h5><b>Any other?</b></h5>
                            </div>
                        </div>
                        <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels. Share the work with teammates.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
